/* Create */
.formContainer {
    width: 400px;
    margin: 0 auto;
}

.create_title_cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 15px 0;
}

.title {
    font-size: 17px;
    text-align: left;
    color: black;
}

input {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    outline-style: none;
    border-color: transparent;
    caret-color: #00CFFF;
}

input:focus {
    outline: #00CFFF 1px solid;
}

.input_cover {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: transparent;
    border-radius: 5px;
    padding: 8px 12px;
}

.input_cover input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.input_cover:hover {
    border: #00CFFF 1px solid;
}

.label_cover {
    position: relative;
    cursor: pointer;
}

.load_cover {
    display: flex;
    justify-content: center;
}

.container_completed {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.buttonStyle {
    margin-top: 20px;
    padding: 15px 20px;
    min-width: 200px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: bolder;
    font-size: 18px;
}

.buttonStyle:hover {
    border: #00CFFF 1px solid;
    cursor: pointer;
    color: #00CFFF;
}

@media(width < 450px) {
    .formContainer {
        width: 350px;
    }
}

@media(width < 400px) {
    .formContainer {
        width: 300px;
    }
}

@media(width < 350px) {
    .formContainer {
        width: 250px;
    }
}

@media(width < 300px) {
    .formContainer {
        width: 200px;
    }
}