body {
  margin: 0;
  font-family: Abhaya Libre;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 238, 238);
  color: black;
}

code {
  font-family: Lobster,
    monospace;
}